nav{
  display: flex;
  background-color: black;
}
ul{
  display: flex;
  width: 400px;
  justify-content: space-around;
}
nav li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* text- */
}
nav li a:hover{
  color: red;
}